<h1>Listado de deportes</h1>

<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deportes.each do |deporte| %>
  <tr>
    <td><%= deporte.nombre %></td>
    <td><%= deporte.descripcion %></td>
    <td><%= link_to 'Show', deporte %></td>
    <td><%= link_to 'Edit', edit_deporte_path(deporte) %></td>
    <td><%= link_to 'Destroy', deporte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deporte', new_deporte_path %>
