<h1>Listado de estadios</h1>

<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Cordx</th>
    <th>Cordy</th>
    <th>Olipiada</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estadios.each do |estadio| %>
  <tr>
    <td><%= estadio.nombre %></td>
    <td><%= estadio.direccion %></td>
    <td><%= estadio.cordx %></td>
    <td><%= estadio.cordy %></td>
    <td><%= estadio.olipiada_id %></td>
    <td><%= link_to 'Show', estadio %></td>
    <td><%= link_to 'Edit', edit_estadio_path(estadio) %></td>
    <td><%= link_to 'Destroy', estadio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Estadio', new_estadio_path %>
