<%= form_for(@evento) do |f| %>
  <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% @evento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Disciplina" %><br />
    <%= f.select :disciplina_id, Disciplina.order('nombre ASC').all.map {|r| [r.nombre,r.id] } %>
  </div>
  <div class="field">
    <%= f.label :fecha_inicio %><br />
    <%= f.date_select :fecha_inicio %>
  </div>
  <div class="field">
    <%= f.label :fecha_termino %><br />
    <%= f.date_select :fecha_termino %>
  </div>
  <div class="field">
    <%= f.label "Sector" %><br />
    <%= f.select :sector_id, Sectore.order('nombre ASC').all.map {|r| [r.nombre,r.id] }  %>
  </div>
  <div class="field">
    <%= f.label :serie %><br />
    <%= f.number_field :serie %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
