<h1>Listado de delegaciones</h1>

<table class="table">
  <tr>
    <th>Pais</th>
    <th>Olimpiada</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @delegaciones.each do |delegacione| %>
  <tr>
    <td><%= delegacione.pais %></td>
    <td><%= delegacione.olimpiada_id %></td>
    <td><%= link_to 'Show', delegacione %></td>
    <td><%= link_to 'Edit', edit_delegacione_path(delegacione) %></td>
    <td><%= link_to 'Destroy', delegacione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Delegacione', new_delegacione_path %>
