<p id="notice"><%= notice %></p>

<p>
  <b>Pais:</b>
  <%= @delegacione.pais %>
</p>

<p>
  <b>Olimpiada:</b>
  <%= @delegacione.olimpiada_id %>
</p>


<%= link_to 'Edit', edit_delegacione_path(@delegacione) %> |
<%= link_to 'Back', delegaciones_path %>
